In [33]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
# Name of the CSV file
us_happiness18 = "data_sets/2018_US_Happiness_Report.csv"
states_coordinates = "data_sets/States_Coordinates.csv"

In [35]:
# The correct encoding must be used to read the CSV in pandas
ushappy_df = pd.read_csv(us_happiness18)
coordinates_df = pd.read_csv(states_coordinates)

In [36]:
# Preview of the 2018 US Happy Report DataFrame
ush18_df = pd.DataFrame(ushappy_df[["Overall Rank (1 Happiest)","State","Total Score"]])
ush18_df = ush18_df.rename(columns={"Overall Rank (1 Happiest)": "Happiness Rank 2018","Total Score":"Happiness Score 2018"})
ush18_df = ush18_df[["State","Happiness Rank 2018","Happiness Score 2018"]]
ush18_df.head()
# ush18_df.count()
# ush18_df.dtypes

          State  Happiness Rank 2018  Happiness Score 2018
0        Hawaii                    1                 68.27
1          Utah                    2                 67.84
2     Minnesota                    3                 67.26
3  North Dakota                    4                 65.62
4    California                    5                 63.14

In [37]:
# Preview of the Country Coordinates Data Frame
sc_df = pd.DataFrame(coordinates_df[["latitude","longitude","name"]])
sc_df = sc_df.rename(columns={"latitude": "Latitude","longitude":"Longitude","name":"State"})
sc_df = sc_df[["State","Latitude","Longitude"]]
sc_df.head()
# sc_df.count()
# sc_df.dtypes

        State   Latitude   Longitude
0      Alaska  63.588753 -154.493062
1     Alabama  32.318231  -86.902298
2    Arkansas  35.201050  -91.831833
3     Arizona  34.048928 -111.093731
4  California  36.778261 -119.417932

In [45]:
# Merge the DataFrame
us_happy_df = pd.merge(ush18_df, sc_df, on="State", how="inner")
us_happy_df = us_happy_df[["State","Latitude","Longitude","Happiness Rank 2018","Happiness Score 2018"]]
us_happy_df
#us_happy_df.count()

,State,Latitude,Longitude,Happiness Rank 2018,Happiness Score 2018
0,Hawaii,19.898682,-155.665857,1,68.27
1,Utah,39.320980,-111.093731,2,67.84
2,Minnesota,46.729553,-94.685900,3,67.26
3,North Dakota,47.551493,-101.002012,4,65.62
4,California,36.778261,-119.417932,5,63.14
5,Idaho,44.068202,-114.742041,6,63.09
6,Maryland,39.045755,-76.641271,7,61.78
7,Iowa,41.878003,-93.097702,8,61.07
8,South Dakota,43.969515,-99.901813,9,60.80
9,Nebraska,41.492537,-99.901813,10,59.11
10,Wisconsin,43.784440,-88.787868,11,58.87
11,Connecticut,41.603221,-73.087749,12,58.24
12,New Jersey,40.058324,-74.405661,13,58.10
13,New York,43.299428,-74.217933,14,57.35
14,Virginia,37.431573,-78.656894,15,57.35
15,Massachusetts,42.407211,-71.382437,16,56.85
16,Washington,47.751074,-120.740139,17,56.44
17,Colorado,39.550051,-105.782067,18,55.38
18,Georgia,32.157435,-82.907123,19,55.15
19,North Carolina,35.759573,-79.019300,20,53.69
20,Arizona,34.048928,-111.093731,21,52.92
21,Texas,31.968599,-99.901813,22,52.56
22,Illinois,40.633125,-89.398528,23,52.47
23,New Hampshire,43.193852,-71.572395,24,52.37
24,Kansas,39.011902,-98.484246,25,52.30
25,Nevada,38.802610,-116.419389,26,51.80
26,Delaware,38.910832,-75.527670,27,51.67
27,Montana,46.879682,-110.362566,28,51.08
28,Florida,27.664827,-81.515754,29,51.01
29,Pennsylvania,41.203322,-77.194525,30,50.54
30,Rhode Island,41.580095,-71.477429,31,50.44
31,Indiana,40.551217,-85.602364,32,50.20
32,Maine,45.253783,-69.445469,33,49.81
33,Michigan,44.314844,-85.602364,34,49.52
34,Wyoming,43.075968,-107.290284,35,48.90
35,South Carolina,33.836081,-81.163725,36,48.26
36,Ohio,40.417287,-82.907123,37,48.19
37,Vermont,44.558803,-72.577841,38,48.18
38,Oregon,43.804133,-120.554201,39,48.05
39,Tennessee,35.517491,-86.580447,40,46.13
40,New Mexico,34.972730,-105.032363,41,43.35
41,Missouri,37.964253,-91.831833,42,42.76
42,Mississippi,32.354668,-89.398528,43,41.63
43,Kentucky,37.839333,-84.270018,44,39.42
44,Alabama,32.318231,-86.902298,45,39.35
45,Oklahoma,35.007752,-97.092877,46,38.89
46,Alaska,63.588753,-154.493062,47,38.21
47,Louisiana,31.244823,-92.145024,48,37.15
48,Arkansas,35.201050,-91.831833,49,36.61
49,West Virginia,38.597626,-80.454903,50,33.42

In [39]:
#Save File
us_happy_df.to_csv("data_sets/us_happy.csv")